<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hubungi Kami</h1>
    <p>Nama</p>
    <input type="text"name="Nama" id="Nama">
    <p>Email</p>
    <input type="email"name="Email" id="Email">
    <p>Pesan</p>
    <input type="text"name="Pesan"id="Pesan">
    <br>
    <button type="button">Kirim</button> </br>
    <br>
    <a href="/">Kembali</a>
</body>
</html>